* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: #EEEEEE;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 110px;
}

.grid-container>.section-login {
    background-color: #fff;
    border-top: 4px solid #4DABF5;
    text-align: center;
    font-size: 30px;
    width: 425px;
    height: 510px;
}

.section-login img {
    margin-top: 82px;
    width: 190px;
    height: 32px;
}

.login-input {
    display: grid;
    width: 345px;
    margin: auto;
    margin-top: 62px;
}

label {
    font-size: 12px;
    float: left;
    color: #707070;
    margin-bottom: 8px;
    margin-top: 16px;
}

input.section-input[type=text] {
    width: 345px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #000;

}

input.section-input::placeholder {
    opacity: 0.5;
    color: #707070;

}


input.section-input[type=password] {
    width: 345px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #000;

}

.input-title {
    clear: both;
    font-size: 12px;
    color: #707070;
    opacity: 0.5;
    font-weight: bold;
    padding-left: 25px;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    border: 1px solid #707070;
    opacity: 0.5;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 1px solid #707070;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 8px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 2px;
    border: solid #4DABF5;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #4DABF5;
    border-width: 0 2px 2px 0;
    background-color: transparent;
}

.checkbox-label .checkbox-custom::before {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
}

button.button-login {
    background-color: #4DABF5;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 16px;
}

a button.button-login {
    color: white;
    text-decoration: none;
    width: 100%;
}

.header {
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 226px auto 226px;
}

.header>img.logo {
    width: 84px;
    height: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.employee-management {
    margin-top: 20px;
    margin-left: 75px;
    font-size: 16px;
    color: #3B3E40;
    opacity: 0.8;
}
.employee-management {
    margin-top: 20px;
    margin-left: 75px;
    font-size: 16px;
    color: #3B3E40;
    opacity: 0.8;
}

.header>a img.logout {
    width: 67px;
    height: 19px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 140px;
}

.icon-logout {
    margin-top: 20px;
}

.menu {
    display: block;
    height: 692px;
    width: 226px;
    background-color: #F5F5F5;
}

.box-menu {
    display: grid;
    grid-template-columns: 226px auto;
}

.topic-menu>p {
    font-size: 10px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 28px;
    padding-left: 24px;
}

.section-menu {
    font-size: 12px;
    border-left: 4px;
    margin-left: 24px;
}

.icon-menu {
    background-image: url(../images/iconmenu/statistics.svg);
    height: 40px;
    width: 226px;
    border: none;
    background-repeat: no-repeat;
    background-position: 24px 15px;

}

.icon-menu1 {
    background-image: url(../images/iconmenu/employee.svg);
    height: 40px;
    width: 226px;
    border: none;
    background-repeat: no-repeat;
    background-position: 24px 15px;

}

.icon-menu4 {
    background-image: url(../images/iconmenu/Path170.svg);
    height: 40px;
    width: 226px;
    border: none;
    background-repeat: no-repeat;
    background-position: 24px 15px;

}

.icon-menu3 {
    background-image: url(../images/iconmenu/Path189.svg);
    height: 40px;
    width: 226px;
    border: none;
    background-repeat: no-repeat;
    background-position: 24px 15px;


}

.icon-menu1:hover {

    background-image: url(../images/iconmenu/Path170.svg);
}

.icon-menu3:hover {

    background-image: url(../images/iconmenu/statistics.svg);
}

.icon-menu2 {
    background-image: url(../images/iconmenu/salary.svg);
    height: 40px;
    width: 226px;
    border: none;
    background-repeat: no-repeat;
    background-position: 24px 15px;

}

.icon-menu2:hover {

    background-image: url(../images/iconmenu/Path167.svg);
}

.menu-detail {
    display: flex;
    align-items: center;
    height: 40px;
    border: 0px;
    background-color: #F5F5F5;
    text-decoration: none;
    color: #3B3E40;
}


.menu-detail.active {
    font-weight: bold;
    color: #4DABF5;
}

.menu-detail:hover {
    font-weight: bold;
    color: #4DABF5;
}


p.text-menu {
    padding-left: 48px;
    padding-top: 13px;
}

.box-head {
    float: left;
    margin-left: 300px;
    margin-top: -632px;
    width: 962px;
    border: 0.75px solid #FFFFFF;
    height: 84px;
    background-color: #FFFFFF;
}

input.search[type=text] {
    font-size: 14px;
    border: 1.1px solid #70707083;
    padding: 0 17px;
    width: 250px;
    height: 40px;
    text-align: left;
    background: #FFFFFF;
    margin-top: 21px;
    margin-left: 33px;
}

.icon-search {
    margin-left: -35px;
    margin-top: 20px;
}

.btn-head {
    background-color: #4DABF5;
    color: white;
    width: 136px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    margin-left: 495px;
    margin-top: 22px;
    font-size: 12px;
}

.btn-head:hover {
    background-color: rgb(97, 180, 243);
}
.add-head {
    display: flex;
}
.icon-add {
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: -2px;
}
.add {
    margin-right: 10px;
}

.box-headtable {
    float: left;
    margin-left: 300px;
    margin-top: -516px;
    width: 961px;
    border: 0.75px solid #FFFFFF;
    height: 80px;
    background-color: #FFFFFF;
}

.title-list {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 16px;
}

table.table-employee {
    float: left;
    margin-top: -445px;
    border-collapse: collapse;
    width: 962px;
    background-color: #FFFFFF;
    margin-left: 46px;
    color: #707070;
}

th,
td {
    text-align: left;
    padding: 20px;
}
th{
    color: #707070;
    font-size: 12px;
    font-family: 'Red Hat Display';
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.box-table {
    margin-left: 255px;
}
td.click {
    display: flex;
    justify-content: flex-end;
    margin-right: 52px;
}
td.click > a {
    width: 24px;
    height: 24px;
}
td.click > a .icon-repair,
td.click > a .icon-delete {
    width: 100%;
    height: 100%;
}
td.click > a:first-child{
    margin-right: 8px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 199px auto;
    padding: 20px;
    background: #fff;
    width: 542px;
    height: 322px;
    position: relative;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #707070;
  }
 
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  .icon-deletepopup {
    margin-top: 61px;
    margin-left: 245px;
  }
  .title-delete {
      font-family: 'Red Hat Display';
      font-size: 18px;
      color: #707070;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 183px;
      letter-spacing: 1px;
  }
  .content-delete {
    font-family: 'Red Hat Display';
    font-size: 14px;
    color: #707070;
    margin-top: 15px;
    margin-left: 122px;
  }
 .btn-cancel {
    background-color: #FFFFFF;
    border:  2px solid #7070707a;
    font-family: 'Red Hat Display';
    font-size: 12px;
    font-weight: bold;
    color: #707070;
    width: 80px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 183px;
} 
.btn-delete {
    background-color: #EA4335;
    border: none;
    font-family: 'Red Hat Display';
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    width: 80px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 16px;
} 

a.cancel {
    text-decoration: none;
    font-family: 'Red Hat Display';
    font-size: 12px;
    font-weight: bold;
    color: #707070;
}
a.delete {
    text-decoration: none;
    font-family: 'Red Hat Display';
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}


.blog-statistics {
    width: 962px;
    height: 502px;
    background-color: #FFFFFF;
    margin: auto;
    margin-left: 50px;
}

.topic-statistics {
    display: grid;
    grid-template-columns: repeat(2, auto);
}


p.topic-blog-statistics {
    font-size: 18px;
    font-weight: bold;
    color: #3B3E40;
    opacity: 0.75;
    padding-top: 34px;
    padding-left: 25px;
    height: 60px;

}

select {
    width: 110px;
    padding: 5px 5px;
    border: none;
    border-radius: 2px;
    border: 1px solid #707070;
    opacity: 0.85;
    font-size: 14px;
    float: right;
    margin-right: 8px;
}

.custom-select {
    padding-right: 35px;
    padding-top: 38px;

}

.add-employee {
    text-align: center;
    margin-top: 18px;
    font-size: 16px;
}

.header>a img.out {
    width: 24px;
    height: 24px;
    margin-left: 22px;
    margin-top: 17px;
}

a button.submit {
    width: 104px;
    height: 40px;
    background-color: #4DABF5;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 8px;
    margin-right: 22px;
    margin-left: 100px;
}

.section-addemployee {
    display: grid;
    width: 1165px;
    margin: auto;
    grid-gap: 68px;
    grid-template-columns: 776px 320px;
    margin-top: 48px;
    margin-bottom: 48px;

}

.detail-employee {
    background-color: #fff;
    width: 776px;
    height: 1852px;
    padding-bottom: 48px;
}

.photo-employee {
    background-color: #FFFFFF;
    width: 320px;
    height: 195px;
}

.detail-input-employee {
    width: 500px;
    margin: auto;
}

p.topic-employee {
    font-size: 18px;
    margin-top: 59px;
    font-weight: bold;
    color: #707070;
}

p.topic-contact {
    font-size: 18px;
    margin-top: 180px;
    font-weight: bold;
    color: #707070;
}

.section-input-employee {
    padding-left: 22px;
}

input.section-input-employee[type=text] {
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #000;

}
input.section-bd-employee[type=text] {
    width:270px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding-left: 10px;
    color: #000;
    margin-right: 12px;

}
input.section-bd-employee[type=date] {
    width:270px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding-left: 10px;
    color: #000;
    margin-right: 12px;

}

.bd-employee {
    width: 500px;
    float: left;

}

.graph-pie {
    width: 500px;
    height: 400px;
}

.line {
    border-bottom: 1px solid#707070;
    opacity: 0.5;
    width: 500px;
    padding-top: 56px;
}

textarea {
    width: 500px;
    height: 120px;
    padding: 10px 16px;
    box-sizing: border-box;
    background-color: white;
    font-size: 14px;
    resize: none;
    color: #000;
}

input.section-input-salary[type=text] {
    width: 212px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #000;

}

.input-salary {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 16px;
}

.salary-employee {
    width: 212px;
    float: left;

}

.section-input-salary-start {
    width: 80px;
    float: left;
}

.add-salary {
    border: 1px solid #70707093;
    background-color: #fff;
    width: 126px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #707070;
}

select.employee-bank {
    width: 500px;
    padding: 10px 16px;
    border: none;
    border-radius: 2px;
    border: 1px solid #707070;
    opacity: 0.85;
    font-size: 14px;
    margin-top: 8px;
}

.switch {
    position: relative;
    width: 35px;
    height: 20px;
    margin-left: 390px;
    margin-right: 18px;
    margin-top: 10px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.box-switch {
    width: 500px;
    height: 40px;
    background: rgba(245, 245, 245, 0.63);
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

label.detail-switch {
    padding-left: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-photo {
    height: 316px;
    background-color: #FFFFFF;
}
.card-photo .blue {
    height: 120px;
    width: 100%;
    background-color: #4DABF5;
}
.image-phofile {
    width: 140px;
    height: 140px;
    margin: auto;
    position: relative;
    border-radius: 50%; 
}
.image-phofile:hover .image-hov{
    width: 140px;
    height: 50%;
    position: absolute;
    background-color: rgba(59, 62, 64, 0.575);
    top: 110px;
    border: 4px solid transparent;
    border-radius: 0px 0px 100px 100px;
    margin: auto;
    background-image: url(../images/camera.svg);
    background-repeat: no-repeat;
    background-position: 58px 20px;
}
img.image-employee {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid#fff;
    margin-top: 40px;

}

.name-employee{
    color: #707070;
    font-size: 16px;
    text-align: center;
    margin-top: 70px;

}
.line-employee{
    border-bottom: 1px solid#707070;
    width: 224px;
    margin: auto;
    margin-bottom: 17px;
    margin-top: 17px;
}
.career-employee{
    font-size: 14px;
    color: #707070;
    opacity: 0.8;
    text-align: center;
}


