* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: #EEEEEE;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 110px;


}

.grid-container>.section-login {
    background-color: #fff;
    border-top: 4px solid #4DABF5;
    text-align: center;
    font-size: 30px;
    width: 425px;
    height: 510px;
}

.section-login img {
    margin-top: 82px;
    width: 190px;
    height: 32px;
}

.login-input {
    display: grid;
    width: 345px;
    margin: auto;
    margin-top: 62px;
}

label {
    font-size: 12px;
    float: left;
    color: #707070;
    margin-bottom: 8px;
    margin-top: 16px;
}

input.section-input[type=text] {
    width: 345px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #000;

}

input.section-input::placeholder {
    opacity: 0.5;
    color: #707070;

}


input.section-input[type=password] {
    width: 345px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    padding: 10px 16px;
    color: #000;

}




.input-title {
    clear: both;
    font-size: 12px;
    color: #707070;
    opacity: 0.5;
    font-weight: bold;
    padding-left: 25px;
}


.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    border: 1px solid #707070;
    opacity: 0.5;
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 1px solid #707070;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 8px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 2px;
    border: solid #4DABF5;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #4DABF5;
    border-width: 0 2px 2px 0;
    background-color: transparent;
}

.checkbox-label .checkbox-custom::before {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
}

button.button-login {
    background-color: #4DABF5;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 16px;
}

a button.button-login {
    color: white;
    text-decoration: none;
    width: 100%;
}
.header {
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 226px auto 108px;
}
.header>img {
    width: 84px;
    height: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.statistics {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: #3B3E40;
    opacity: 0.8;
}

.header>img.logout {
    width: 67px;
    height: 19px;
    margin-top: 20px;
    margin-right: 20px;
}
.icon-logout {
    margin-top: 20px;
}
.menu {
    display: block;
    height: 692px;
    width: 226px;
    background-color: #F5F5F5;
}

.topic-menu {
    font-size: 10px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 28px;
    margin-left: 24px;
    opacity: 0.6;
}

.section-menu {
    display: grid;
    font-size: 12px;
    grid-template-columns: 226px auto;
    border-left: 4px;

}

.menu-detail {
    display: flex;
    align-items: center;
    padding-left: 24px;
    height: 40px;
    border: 0px;
    background-color: #F5F5F5;
    border-left: 4px solid #F5F5F5;
    text-decoration: none;
    color: #707070;
}

.menu-detail.active {
    font-weight: bold;
    border-left: 4px solid #4DABF5;
    background-color: #70707011;
}
.menu-detail:hover {
    font-weight: bold;
    border-left: 4px solid #4DABF5;
    background-color: #70707011;
}

p.text-menu {
    padding-left: 8px;
}

img.icon-menu {
    width: 16px;
    height: 16px;
}
.box-head {
    float: left;
    margin-left: 300px;
    margin-top: -632px;
    width: 962px;
    border: 0.75px solid #FFFFFF;
    height: 84px;
    background-color: #FFFFFF;
}

input.search[type=text] {
    font-size: 17px;
    border: 1.1px solid #70707083;
    padding: 0 17px;
    width: 250px;
    height: 40px;
    text-align: left;
    background: #FFFFFF;
    margin-top: 21px;
    margin-left: 33px;
}

.icon-search {
    margin-left: -40px;
}

.btn-head {
    background-color: #4DABF5;
    color: white;
    width: 120px;
    height: 18px;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    margin-left: 450px;
    margin-top: 2px;
    font-size: 12px;
}

.btn-head:hover {
    background-color: rgb(97, 180, 243);
}

.icon-add {
    float: left;
    width: 18px;
    height: 18px;
}

.box-headtable {
    float: left;
    margin-left: 300px;
    margin-top: -516px;
    width: 961px;
    border: 0.75px solid #FFFFFF;
    height: 80px;
    background-color: #FFFFFF;
}
.title-list {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 16px;
}

table {
    float: left;
    margin-top: -445px;
    border-collapse: collapse;
    width: 962px;
    background-color: #FFFFFF;
    margin-left: 46px;
    color: #707070;
}

th,
td {
    text-align: left;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.box-table {
    margin-left: 255px;
}
.icon {
    float: right;
    margin-right: 54px;
}

